/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900*/

.roboto-uniquifier {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.spectral-light {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
}

.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-medium {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
}

.spectral-bold {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
}

.spectral-extrabold {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: normal;
}

.spectral-regular-italic {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: italic;
}

body {
  font-size: 13px;
}
/*navigationbar*/
header {
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
}
.header {
  max-width: 70%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  padding: 1em 0em 1em 0em;
}

.navbar ul li {
  font-family: "Roboto", serif;
  font-size: 12px;
  display: inline-block;
  padding: 0em 1em;
}
.navbar button {
  border-radius: 25px;
  border: none;
  background-color: #191919;
  color: white;
  padding: 6px 10px;
  font-size: 12px;
}

/*hero*/

.hero {
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  padding-top: 4em;
  position: relative;
  overflow: hidden;
}
.hero img {
  position: absolute;
  right: 0;
  top: 0;
}
.banner {
  max-width: 70%;
  margin-inline: auto;
  font-family: "Roboto", serif;
}
h1 {
  font-family: "Spectral", serif;
  font-size: 70px;
}
h2 {
  margin-top: 1em;
  font-size: 20px;
}
.banner button {
  border-radius: 25px;
  border: none;
  background-color: #191919;
  color: white;
  padding: 6px 10px;
  font-size: 15px;
  margin-top: 2em;
  margin-bottom: 4em;
}

/*trending*/
section {
  border-bottom: 1px solid #bebebe;
}
.sectionTrend {
  width: 70%;
  margin-inline: auto;
  font-family: "Roboto", serif;
  padding: 2em;
}
.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.trend {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  gap: 5px;
}
.container {
  display: flex;
  align-items: top;
  margin: 1em 0em;
}
.numero {
  font-size: 25px;
  opacity: 20%;
  font-weight: bolder;
  margin-right: 10px;
}
.post {
  width: 250px;
}
.profilo {
  display: flex;
  font-size: 11px;
  gap: 5px;
}
.pfp {
  border-radius: 50px;
  overflow: hidden;
  width: 20px;
  height: 20px;
}
.pfp img {
  width: 100%;
}
h4 {
  font-weight: bold;
  margin: 4px 0px;
}
.data {
  display: flex;
  justify-content: space-between;
  color: #9f9f9f;
  font-size: 11px;
}

/*main*/

main {
  width: 70%;
  margin-inline: auto;
  font-family: "Roboto", serif;
  display: flex;
  flex-wrap: wrap;
}

.article {
  width: 65%;
  display: flex;
  gap: 3em;
  margin: 2em 0em;
  justify-content: space-between;
}
.destra {
  width: 250px;
  height: 130px;
  overflow: hidden;
}
.destra img {
  width: 100%;
}
h3 {
  font-size: 13px;
  font-weight: bold;
  margin: 5px 0px;
}
.sinistra {
  width: 500px;
}
.sinistra p {
  color: #9f9f9f;
  margin: 5px 0px;
}
.data2 {
  display: flex;
  color: #9f9f9f;
  font-size: 11px;
  gap: 4px;
}
.data2 li {
  display: inline-block;
}
.data2 button {
  border: none;
  border-radius: 50px;
  background-color: #e6e6e6;
  color: #9f9f9f;
}
.info {
  display: flex;
  justify-content: space-between;
}
/*aside*/
section {
  display: flex;
  justify-content: space-between;
}
aside {
  align-self: stretch;
  margin-top: 1.5em;
}
.asideTitle {
  text-transform: uppercase;
  margin-bottom: 1em;
}
.buttons {
  display: flex;
  border-bottom: 1px solid #bebebe;
  flex-wrap: wrap;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
.buttons button {
  color: #9f9f9f;
  background-color: white;
  border: 1px solid #bebebe;
  background: none;
  outline: none;
  border-radius: 5px;
  outline: none;
  padding: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.link li {
  display: inline-block;
  text-decoration: none;
  line-height: 8px;
}
.link a {
  text-decoration: none;
  color: #9f9f9f;
  padding-right: 8px;
  line-height: 2em;
}
